body{
	padding: 0;
	margin: 0;
	background:#f4f4f4;
}

.alert-info{
    background-color: #ccc;
    margin-top:5px;
}
.navbar{ background:#F97300 !important;}
.nav-link , .navbar-brand{ color: #f4f4f4 !important; cursor: pointer;}
.nav-link{ margin-right: 1em !important;}
.nav-link:hover,.active{ background: #f4f4f4; color: #f97300 !important; }

.navbar-collapse{ justify-content: flex-end;}
 .navbar-toggler{  background-color:#fff !important;} 


.header{
    background-image: url('../images/lt.jpg');
    /*background-attachment:fixed;*/
    background-size: cover;
    background-position: center;
}

.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(35, 35, 35, 0.35);
}

.description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
}

.cert{
    position: absolute;
    top: 70%;
    left:calc(100% - 150px);;
    margin: auto;
    
}
.cert p{
    background-color: #FFF;
    padding-left: 15px;
}
.description button{
    border:1px  solid #F97300;
    background:#F97300;
    color:#fff;
    margin-top:2em;
   }

   .about{
       /*background-image: linear-gradient(217deg, rgba(45, 125, 210, .8), rgba(45, 125, 210, 0) 70.71%),
                        linear-gradient(336deg, rgba(238, 185, 2, 1), rgba(238, 185, 2, 0) 70.71%),
                        linear-gradient(127deg,rgba(151, 204, 4, .8),rgba(151, 204, 4, 0)70.71%);
                        */
        background-image: url('../images/bg.JPG');
        background-size: cover;
        background-position: center;

   }
   .pellets{background-color: rgb(32, 32, 32);}
   .timber{background-color: rgb(206, 206, 206);}


   .about,
   .pellets,
   .timber,
   .contacts{
    margin: 0 0;
    padding: 2em 0;
    position: relative;
   }
   .about h1,
   .pellets h1,
   .timber h1,
   .contacts h1{
    color:#F97300;
    margin: 2em;
    text-transform: uppercase;
   }

   .about img{
	height: 100%;
    width: 100%;
    border-radius: 50%
}
.about p, .about ul{
    color:#fff;
}
.about li:last-child{
    margin-bottom: 5em;
}
.about .container-fluid{
    background-color: rgba(0,0,0,.6);
}
.timber img{
    margin: 4px;
}
.timber p{
    font-size: 1.355em;
}
.icon-list{
    margin:0;
    padding: 0;
    list-style: none;
    color: #F97300;
    font-size: 28px;
}

.icon-list li{
    display: block;
    display: flex;
    align-items: center;
    padding: 15px 0;
    list-style: none;
    font-family: oblikbold,sans-serif;
    font-weight: 400;
    font-size: 1.625rem;
    line-height: 1.25;
    text-transform: uppercase;
}

.icon-list i{
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    padding: 10px;
    margin-right: 38px;
    border: 2px solid #fff;
    border-radius: 50%;
}
.pellets-description p{
    color: #F97300;
}
.lang-box{
    background-color: rgb(240, 240, 240);
    padding: 0.5em;
    display: block;
    margin-bottom: 3px;
    border-radius: 2px;
}

.img-bg{
	background-color:#e3e3e3;
}

/*ORDERS*/

.order-body{
	background-image: url("../images/texture.jpg");
}
.order-form-bg{
	
	border-radius:3px;
	min-height:300px;
	margin-top:200px;;
	
}

.order-container{
    position: fixed;
    top: 65%;
    right:calc(100% - 220px);;
	background-color: rgba(63,63,63,.8);
	width:200px;
	padding:0px 5px;
	padding-bottom:2px;
    border-top:4px solid #F97300;
    color:#FFF;
    z-index: 100;
}

.shopping-cart{
    position: absolute;
    left: 200px;
    background-color: rgba(63,63,63,.8);
    padding: 20px;
    border-top: 4px solid #F97300;
    margin-top: -4px;
    display: none;
}

/*overlay*/
.overlay-order {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 200; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(230, 230, 230); /* Black fallback color */
    /* background-color: rgba(230, 230, 230, 1); Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }

  .overlay-order-content{
    position: relative;
    top: 15%; /* 25% from the top */
    width: 100%; /* 100% width */
    /* text-align: center; Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    border:1px solid #ccc;
    padding-bottom: 15px;
  }

  @media only screen 
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio:2)
    and (orientation: portrait){
        .order-container{
            position: fixed;
            top: 45%;
            /* right:calc(100% - 205px);; */
            background-color: rgba(63,63,63,.8);
            width:200px;
            padding:0px 5px;
            padding-bottom:2px;
            border-top:4px solid #F97300;
            color:#FFF;
            left: -200px;
            transition: left 0.3s;
        }
        .shopping-cart{
            display: block;
        }

        .shopping-cart-visible{
            left: 10px;
        }
        
    }

    @media only screen 
    /* and (min-device-width: 375px)
    and (max-device-width: 667px) */
    and (-webkit-min-device-pixel-ratio:2)
    and (orientation: landscape){
        .order-container{
            position: fixed;
            top: 59px;
            left:-200px;
            background-color: rgba(63,63,63,.8);
            width:200px;
            padding:0px 5px;
            padding-bottom:2px;
            border-top:4px solid #F97300;
            color:#FFF;
            transition: left 0.3s;
        }
        .shopping-cart{
            display: block;
        }

        .shopping-cart-visible{
            left: 0px;
        }

    }